@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&family=McLaren&display=swap");
@import "tailwindcss";
@layer base;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-mclaren: "McLaren", serif;
  --font-nunito: "Nunito Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
